.txt{  
    margin-top: -80px;
    margin-right: 100px;    
}

.error{
 margin-top: -40px;
 margin-right: 105%;
 width: 50%; 
 color: crimson;
}

.content {
    display: flex;
    margin: 82px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    direction:rtl; 
    text-align: right;
  }
  .eyeSymbol{
    height: 50px;
    width: 50px;
    display: inline-block;
}
body{
  background-image: url( "src/assets/bg.png") !important; background-size: 70% 65% !important; margin-top: 10%; background-repeat: no-repeat !important;
  }