<div class="content">
    <form [formGroup]="editDetailsForm">
        <p>שם :<input type="text" formControlName="userName" class="form-control"></p>
        <p>טלפון:<input type="text" formControlName="Phone"  class="form-control"></p>
        <p>אימיל:<input type="text" formControlName="E_mail" class="form-control"></p>
        <p>כתובת:
            <input ngx-google-places-autocomplete #placesRef="ngx-places" formControlName="Adress"
                (onAddressChange)="handleDestinationChange($event)" class="form-control">‏
        </p>
       
        
        <p><input type="button" class="btn btn-primary" value="שמור שינויים" (click)="saveChange()">
        </p>
    </form>
</div>
