<body>
    <h1 style="direction: rtl; text-align: right; font-size: 50px; line-height: 100%;">1,976 גמ"חים<br> כבר כאן בשבילך,<br> מה אתה מחפש?</h1>
    <mat-label color="primary" class="search">
        <app-search-gmh ></app-search-gmh>
        </mat-label>
</body>

<!--<div class="input-box">
    <input type="file" id="file" class="input-text" ngf-change="onChange($files)" ngf-select ng-model="picFile"
        name="attachement"
        accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf " />
</div>
<img ng-show="isImage(fileExt)" ngf-src="picFile[0]" class="thumb">-->