<button mat-raised-button color="primary" [routerLink]="['/editOwnerDetails']" routerLinkActive="active">עריכת פרטים
    אישיים</button>
<div class="content">
    <h1>היי {{currentUser.Name}} , הגמחים שלך:</h1>
    <h1>מכאן תוכל\י לנהל אותם בקלות</h1>
    <div>
        <table *ngFor="let g of myGmhim" class="table table-hover">
            <tbody>
                <tr>
                    <td (click)="edit(g)">{{g.GmhName}} </td>
                    <td>{{g.Adress}}</td>
                    <td>{{g.Phone}}</td>
                    <td>{{g.e_mail}}</td>
                    <td>{{g.commits}}</td>
                    <td class="img">
                        <button mat-mini-fab color="primary">
                            <mat-icon (click)="delete(g)">delete</mat-icon>
                        </button>
                        <span class="text">מחק גמח </span>
                    </td>
                    <td class="img">
                        <button mat-mini-fab color="primary">
                            <mat-icon (click)="edit(g)">create</mat-icon>
                        </button>
                        <span class="text">ערוך פרטי גמח</span>
                    </td>
                    <td><button mat-raised-button color="primary" [routerLink]="['/one-gmh',g.GmhCode]">ניהול
                            הגמ"ח</button></td>
                </tr>
                <tr *ngIf="open && g==currentgmh">פרטי הגמח:<mat-icon (click)="close()">clear</mat-icon>
                    <div>
                        <form [formGroup]="editGmhForm">
                            <div class="form-group">
                                <label> שם הגמח:</label>
                                <input class="txt" type="text" class="form-control" formControlName="GmhhName">
                                <div class="error" *ngIf="editGmhForm.controls['GmhhName'].errors!=null">מספר לא תקין</div>
                            </div>
                            <div class="form-group">
                                <label> טלפון :</label>
                                <input class="txt" type="text" class="form-control" formControlName="Phone">
                                <div class="error" *ngIf="editGmhForm.controls['Phone'].errors!=null">מספר לא תקין</div>
                            </div>
                            <div class="form-group">
                                <label> מייל :</label>
                                <input class="txt" type="text" class="form-control" formControlName="E_mail">
                                <div class="error" *ngIf="editGmhForm.controls['E_mail'].errors!=null">מספר לא תקין</div>
                            </div>
                            <p>כתובת:
                                <input ngx-google-places-autocomplete #placesRef="ngx-places" formControlName="Adress"
                                    (onAddressChange)="handleDestinationChange($event)" class="form-control">‏
                            </p>
                            <!--<p>שם:<input type="text" formControlName="Phone"> <input type="text"
                                   ></p>להחליף לשם אחד?-->
                            <p>הערות:<input type="text" formControlName="Comments"></p>
                            <p><button mat-raised-button color="primary" class="btn btn-primary"  [disabled]="!editGmhForm.valid" (click)="saveChange()">
                                   שמור שינויים</button>
                            </p>
                        </form>
                    </div>
                </tr>
            </tbody>
        </table>
        <div class="img">
            <button mat-mini-fab color="primary">
                <mat-icon (click)="closeNew()" *ngIf="newgmh">clear</mat-icon>
                <mat-icon (click)="new()" class="img" *ngIf="!newgmh">add_circle</mat-icon>
            </button>
            <span class="text">הוסף גמח </span>
        </div>

        <form [formGroup]="gmhForm" *ngIf="newgmh">
            <div class="form-group">

                <label> שם:</label>
                <input class="txt" type="text" class="form-control" formControlName="GmhName">
                <div class="error" *ngIf="gmhForm.controls['GmhName'].errors!=null">*</div>
            </div>
            <div class="form-group">
                <mat-radio-group aria-label="Select an option">

                    <label> קטגוריה:</label>
                    <mat-radio-button value="1" (click)="choosecategory()" [checked]="true">
                        <input type="text" placeholder="בחר " aria-label="Number" matInput formControlName="category"
                            [matAutocomplete]="auto" [value]="displayFn">
                        <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                            (optionSelected)="getTatCategoriesForGmh($event)">
                            <mat-option *ngFor="let c of filteredCategories | async" [value]="c">
                                {{c.CategoryName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-radio-button>
                    <mat-radio-button value="2" (click)="newcategory()">
                        <input type="text" placeholder="הוסף קטגוריה" formControlName="newCategory">
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-group">
                <mat-radio-group aria-label="Select an option">

                    <label> תת קטגוריה:</label>
                    <mat-radio-button value="1" (click)="choosetatcategory()" [checked]="true">
                        <input type="text" placeholder="בחר " aria-label="Number" matInput [matAutocomplete]="auto1"
                            [value]="displayFn" formControlName="tatCategory">
                        <mat-autocomplete matAutocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let tc of filteredTatCategories | async" [value]="tc">
                                {{tc.CategoryName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-radio-button>
                    <mat-radio-button value="2" (click)="newtatcategory()">
                        <input type="text" placeholder="הוסף קטגוריה" formControlName="newTatCategory" [checked]="true">
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-group">
                <label> הערות:</label>
                <input class="txt" type="text" class="form-control" formControlName="comments">
                <div class="error" *ngIf="gmhForm.controls['comments'].errors!=null">*</div>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="setCategoty()" [disabled]="!gmhForm.valid"
                    style="margin-right: 35%;">הוסף
                </button>
            </div>
        </form>
    </div>
</div>