<div class="content">
    <form (submit)="filterNeedsGmhim()">
    <label> קטגוריה:</label>
    <input type="text" placeholder="בחר " aria-label="Number" matInput [formControl]="categoriesControl"
        [matAutocomplete]="auto" [value]="displayFn">
    <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn"
        (optionSelected)="getTatCategoriesForGmh($event)">
        <mat-option *ngFor="let c of filteredCategories | async" [value]="c">
            {{c.CategoryName}}
        </mat-option>
    </mat-autocomplete>
        <label> תת קטגוריה:</label>
        <input type="text" placeholder="בחר " aria-label="Number" matInput [matAutocomplete]="auto1"
            [value]="displayFn" [formControl]="tatcategoriesControl" >
        <mat-autocomplete matAutocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let tc of filteredTatCategories | async" [value]="tc">
                {{tc.CategoryName}}
            </mat-option>
        </mat-autocomplete>
        <label> כתובת:</label>
        <p (click)="getCurrentLocation()"><input type="radio" name="r" class="formControl">מיקום נוכחי </p>
        <input type="radio" name="r">
        <input ngx-google-places-autocomplete #placesRef="ngx-places" class="formControl"
            (onAddressChange)="handleDestinationChange($event)" placeholder="Address">‏
        <input type="submit" value="סנן" class="btn btn-primary">
    </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>קטגוריה</td>
                    <td>מקום</td>

                </tr>
            </thead>
            <tbody *ngFor="let ng of needsGmhim">
                <tr >
                <td>{{ng.categoryName}}</td>
                <td>{{ng.Adress}}</td>
            </tr>
            </tbody>
        </table>
</div>