<div class="content">
    <table *ngFor="let p of products" class="table table-hover">
        <tbody>
            <tr >
                <td (click)="showdetails(p)">{{p.Name}} </td>
                <td *ngIf="p.IsDisposable"><input type="number" value="{{p.Amount}}"></td>
                <td *ngIf="!p.IsDisposable" >
                    <mat-label> בחר תאריך </mat-label>
                    <!-- <mat-date-range-input [rangePicker]="picker" [matDatepickerFilter]="dateFilter.bind(this,p)">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                      </mat-date-range-input>
                      <mat-date-range-picker [dateClass]="dateClass"  #picker></mat-date-range-picker>-->
                  <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter.bind(this,p)">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker [dateClass]="dateClass" #picker ></mat-datepicker>
                <td><img src="assets\a.png" (click)="deleteProduct(p)"></td>
                <td><img src="assets\editt.png" (click)="showdetails(p)"></td>
                <td><input type="button" class="btn btn-primary" value="שמור שינויים"></td>
            </tr>
            <tr *ngIf="show && p==currentProduct">
                <div><img src="assets\close.png" (click)="close()">
                    <p>שם<input type="text" value="{{currentProduct.Name}}"></p>
                   <!-- <p>תמונה<input type="image" value="{{currentProduct.Picture}}"></p>
                    <p> <input type="file" (change)="handleFileInput($event.target.files)"
                            accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf " />
                        <img [src]="imageSrc" height="100" width="150">
                        <img [src]="currentProduct.Picture" height="100" width="150">
                    </p>-->
                    <p>פקדון<input type="number" value="{{currentProduct.SecurityDepositAmount}}"></p>
                    <p>מצב<input type="text" value="{{currentProduct.Status}}"></p>
                    <p><input type="button" class="btn btn-primary" (click)="saveChange()" value="שמור שינויים"></p>
                </div>
            </tr>
        </tbody>
    </table>
    <img src="assets\add.png" (click)="add()">
    <form [formGroup]="newPForm" *ngIf="newProduct">
        <div class="form-group">
            <label> שם:</label>
            <input type="text" placeholder="בחר " aria-label="Number" matInput formControlName="Name"
                [matAutocomplete]="auto" [value]="displayFn">
            <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let p of filteredPs | async" [value]="p">
                    {{p.Productname}}
                </mat-option>
            </mat-autocomplete>
            <div class="error" *ngIf="newPForm.controls['Name'].errors!=null">*</div>
        </div>
        <div class="form-group">
            <label> :תאור </label>
            <input class="txt" type="text" class="form-control" formControlName="FreeDescription">
            <div class="error" *ngIf="newPForm.controls['FreeDescription'].errors!=null"> שדה נדרש </div>
        </div>
        <div class="form-group">
            <label> :תמונה </label>
            <div class="input-box">
                <input type="file" (change)="handleFileInput($event.target.files)" multiple
                    accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf " />
            </div>
            
            <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180" mat-card-image>
        </div>
        <div class="form-group">
            <label> :כמות </label>
            <input class="txt" type="number" class="form-control" formControlName="Amount">
            <div class="error" *ngIf="newPForm.controls['Amount'].errors!=null"> שדה נדרש </div>
        </div>
       
        <div class="form-group">
            <label> :האם חד פעמי? </label>
            <input class="txt" type="checkbox" class="form-control" formControlName="IsDisposable">
            <div class="error" *ngIf="newPForm.controls['IsDisposable'].errors!=null"> שדה נדרש </div>
        </div>
        <div class="form-group">
            <label> : פקדון </label>
            <input class="txt" type="number" class="form-control" formControlName="SecurityDepositAmount">
            <div class="error" *ngIf="newPForm.controls['SecurityDepositAmount'].errors!=null"> שדה נדרש </div>
        </div>
        <div class="form-group">
            <label> : סטטוס </label>
            <input class="txt" type="text" class="form-control" formControlName="Status">
            <div class="error" *ngIf="newPForm.controls['Status'].errors!=null"> שדה נדרש </div>
        </div>
        <div>
            <input type="button" class="btn btn-success" value="הוסף" (click)="addProduct()"
                [disabled]="!newPForm.valid" style="margin-right: 35%;">
        </div>
    </form>
    <!-- <td><input type="button" class="btn btn-primary" value="שמור שינויים"></td>-->
</div>