<div>
    <div style="position: absolute;">
        <table class="table table-hover">
            <thead>
                <td>שם:</td>
                <td>כתובת:</td>

                             

            </thead>
            <tbody>
                <tr>
                    <td>{{myGmh.GmhName}} </td>
                    <td>{{myGmh.Adress}}</td>
                    


                    
                    <td><input type="button" class="btn btn-primary" value="שמור שינויים"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
