<div class="content">

    <div>
        <table *ngFor="let p of products" class="table table-hover">
       
            <tbody>
                <tr>
                    <td>{{p.Name}} </td>
<td *ngIf="p.IsDisposable"><input type="number" value="{{p.Amount}}"></td>
<td *ngIf="!p.IsDisposable"><input type="date"></td>

                    
                                       
              
                </tr>
            </tbody>
        </table>
     <!-- <td><input type="button" class="btn btn-primary" value="שמור שינויים"></td>-->  
    </div>
</div>
