<header style="padding: 10px;">
  <ul id="nav" class="nav nav-tabs">
    <p *ngIf="currentUser==undefined " >שלום אורח/ת</p>
    <p *ngIf="currentUser!=undefined">שלום {{cookieValue}}</p>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/signIn']" routerLinkActive="active">כניסה</a>
      <a *ngIf="currentUser!=undefined" class="nav-link" (click)="exit()" routerLinkActive="active">יציאה</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">הרשמה</a>
    </li>
  </ul>
</header>
<header style="padding: 10px;">
  <ul id="nav" class="nav nav-tabs">
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"> דף הבית </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"> הוספת גמ"ח </a>
      <ul>
        <li><a [routerLink]="['/signIn']" routerLinkActive="active">משתמש רשום</a></li>
        <li><a [routerLink]="['/register']" routerLinkActive="active">משתמש חדש</a></li>
        <li><a [routerLink]="['/needsGMHim']" routerLinkActive="active">גמ"חים מבוקשים</a></li>
     </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/searchGMH']"  routerLinkActive="active"> חיפוש גמ"ח </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentUser==undefined" (click)="message()" [routerLink]="['/signIn']" routerLinkActive="active"> ניהול גמ"ח </a>
      <p *ngIf="show && currentUser==undefined"  >עוד לא הזדהת/ה במערכת</p>
      <a class="nav-link" *ngIf="currentUser!=undefined"  [routerLink]="['/manageTheGMH']" routerLinkActive="active"> ניהול גמ"ח </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"> תרומה לגמ"ח</a>
      <ul>
        <li><a [routerLink]="['/addDonation']" routerLinkActive="active"> לתרומה</a></li>
        <li><a [routerLink]="['/donations']" routerLinkActive="active">צפייה בתרומות </a></li>
        <li><a (click)="openDialog()"> למחיקה/עריכה תרומה</a></li>
     </ul>
    </li>
  </ul>

</header>
<div>

</div>
<router-outlet></router-outlet>