header{
    direction: rtl;
    text-align: right;
}
.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  ul { 
    list-style-type: none;
    padding:0;
    margin:0;
 }
  ul#nav li {
    background-color: #fff;
    float:left;
 }
  ul#nav li a {
    display:block;
    padding: 5px 10px;
    color: #000;
    text-decoration:none;
    border-bottom:1px solid #ccc; 
}
ul#nav li a:hover { background-color: #aaa; }
ul#nav li ul li { float:none; }
ul#nav li ul { position:absolute; display:none; }
ul#nav li:hover ul { display:block; }