<h1 mat-dialog-title>Hi {{data}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
<div mat-dialog-content>
    <p>מה מספר התרומה?</p>
    
    <!-- <input matInput [(ngModel)]="data.donationCode">--> 
    
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">סגור</button>
    <button mat-button  cdkFocusInitial  (click)="onClick()" >אישור</button>
  </div>