
.txt{  
    margin-top: -80px;
    margin-right: 100px;    
}

.error{
 margin-top: -40px;
 margin-right: 105%;
 width: 50%; 
 color: crimson;
}


  .form-group {
    display: inline-block;
margin-right: 70px;
  }
  .place{
      display: inline;
      
  }
  