<input type="search">

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8jpgtKXljRdzM5zWFhqKbDnCknpsBnV8&libraries=places"></script>

    <div class="content">
    <form [formGroup]="searchForm" (submit)="search()">
        
        <div class="form-group">
            <input type="text" placeholder="-בחר-" aria-label="Number" matInput formControlName="textSearch" [matAutocomplete]="auto">
            <mat-autocomplete matAutocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let f of filteredProducts | async" [value]="f"> {{f.Productname}} </mat-option>
            </mat-autocomplete>
        </div>

        <div class="form-group">
            <label>קטגוריה:</label>
            <select formControlName="category" class="form-control" (change)="getCategoriesForGmach()">
                <option selected hidden>-בחר קטגוריה-</option>
                <option *ngFor="let a of categories">{{a.CategoryName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label> תת קטגוריה:</label>
            <select formControlName="tatCategory" class="form-control">
                <option selected hidden>-בחר קטגוריה-</option>
                <option *ngFor="let b of tatCategories">{{b.CategoryName}}</option>
            </select>
        </div>

        <div class="form-group">
            <div class="place">       
            <label>אזור ישוב:</label>
            <select formControlName="location" class="form-control">
                <option>מיקום נוכחי</option>
                <option>בחר ישוב</option>
            </select>
        
            <div class="place">
                <input *ngIf="searchForm.controls['location'].value == 'בחר ישוב'" ngx-google-places-autocomplete
                #placesRef="ngx-places" (onAddressChange)="handleDestinationChange($event)" placeholder="הקש כתובת">        
            </div>
        </div>
        </div>


        <div>
            <input type="submit" class="btn btn-success" value="חפש" [disabled]="!searchForm.valid"
                style="margin-right: 35%;">
        </div>

    
    </form>
</div>

<app-gmh *ngIf="gmhs" (send)="showGMHS($event)" [gmh]="gmhs"></app-gmh>